# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vscode/launch.json
.vscode/settings.json
config/settings.json
config/token.json
src/app/components/old/ElectricityMaps.js
src/app/components/old/RenderVehicles_old.js
src/app/components/old/RenderVehicles.js
src/app/components/old/SettingsComponent.js
src/app/components/old/TestButton.js
src/app/components/old/vechicleDisplay.js
src/app/components/old/VehicleImage.js
src/app/components/old/VehicleSidebar.js
src/app/components/old/WakeButton.js
chargeManager/node_modules/.package-lock.json
chargeManager/node_modules/.bin/uuid
chargeManager/node_modules/node-cron/.covignore
chargeManager/node_modules/node-cron/.eslintrc.yml
chargeManager/node_modules/node-cron/LICENSE.md
chargeManager/node_modules/node-cron/package.json
chargeManager/node_modules/node-cron/README.md
chargeManager/node_modules/node-cron/.circleci/config.yml
chargeManager/node_modules/node-cron/.github/stale.yml
chargeManager/node_modules/node-cron/src/node-cron.js
chargeManager/node_modules/node-cron/src/pattern-validation.js
chargeManager/node_modules/node-cron/src/scheduled-task.js
chargeManager/node_modules/node-cron/src/scheduler.js
chargeManager/node_modules/node-cron/src/storage.js
chargeManager/node_modules/node-cron/src/task.js
chargeManager/node_modules/node-cron/src/time-matcher.js
chargeManager/node_modules/node-cron/src/background-scheduled-task/daemon.js
chargeManager/node_modules/node-cron/src/background-scheduled-task/index.js
chargeManager/node_modules/node-cron/src/convert-expression/asterisk-to-range-conversion.js
chargeManager/node_modules/node-cron/src/convert-expression/index.js
chargeManager/node_modules/node-cron/src/convert-expression/month-names-conversion.js
chargeManager/node_modules/node-cron/src/convert-expression/range-conversion.js
chargeManager/node_modules/node-cron/src/convert-expression/step-values-conversion.js
chargeManager/node_modules/node-cron/src/convert-expression/week-day-names-conversion.js
chargeManager/node_modules/node-cron/test/background-scheduled-task-test.js
chargeManager/node_modules/node-cron/test/node-cron-test.js
chargeManager/node_modules/node-cron/test/scheduled-task-test.js
chargeManager/node_modules/node-cron/test/scheduler-test.js
chargeManager/node_modules/node-cron/test/storage-test.js
chargeManager/node_modules/node-cron/test/task-test.js
chargeManager/node_modules/node-cron/test/time-matcher-test.js
chargeManager/node_modules/node-cron/test/assets/dummy-task.js
chargeManager/node_modules/node-cron/test/convert-expression/asterisk-to-range-conversion-test.js
chargeManager/node_modules/node-cron/test/convert-expression/convert-expression-test.js
chargeManager/node_modules/node-cron/test/convert-expression/month-names-conversion-test.js
chargeManager/node_modules/node-cron/test/convert-expression/range-conversion-test.js
chargeManager/node_modules/node-cron/test/convert-expression/step-values-conversion-test.js
chargeManager/node_modules/node-cron/test/convert-expression/week-day-names-conversion-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-day-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-hours-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-minute-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-month-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-pattern-type.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-second-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-test.js
chargeManager/node_modules/node-cron/test/pattern-validation/validate-week-day-test.js
chargeManager/node_modules/node-fetch/browser.js
chargeManager/node_modules/node-fetch/LICENSE.md
chargeManager/node_modules/node-fetch/package.json
chargeManager/node_modules/node-fetch/README.md
chargeManager/node_modules/node-fetch/lib/index.es.js
chargeManager/node_modules/node-fetch/lib/index.js
chargeManager/node_modules/node-fetch/lib/index.mjs
chargeManager/node_modules/tr46/.npmignore
chargeManager/node_modules/tr46/index.js
chargeManager/node_modules/tr46/package.json
chargeManager/node_modules/tr46/lib/.gitkeep
chargeManager/node_modules/tr46/lib/mappingTable.json
chargeManager/node_modules/uuid/CHANGELOG.md
chargeManager/node_modules/uuid/CONTRIBUTING.md
chargeManager/node_modules/uuid/LICENSE.md
chargeManager/node_modules/uuid/package.json
chargeManager/node_modules/uuid/README.md
chargeManager/node_modules/uuid/wrapper.mjs
chargeManager/node_modules/uuid/dist/index.js
chargeManager/node_modules/uuid/dist/md5-browser.js
chargeManager/node_modules/uuid/dist/md5.js
chargeManager/node_modules/uuid/dist/nil.js
chargeManager/node_modules/uuid/dist/parse.js
chargeManager/node_modules/uuid/dist/regex.js
chargeManager/node_modules/uuid/dist/rng-browser.js
chargeManager/node_modules/uuid/dist/rng.js
chargeManager/node_modules/uuid/dist/sha1-browser.js
chargeManager/node_modules/uuid/dist/sha1.js
chargeManager/node_modules/uuid/dist/stringify.js
chargeManager/node_modules/uuid/dist/uuid-bin.js
chargeManager/node_modules/uuid/dist/v1.js
chargeManager/node_modules/uuid/dist/v3.js
chargeManager/node_modules/uuid/dist/v4.js
chargeManager/node_modules/uuid/dist/v5.js
chargeManager/node_modules/uuid/dist/v35.js
chargeManager/node_modules/uuid/dist/validate.js
chargeManager/node_modules/uuid/dist/version.js
chargeManager/node_modules/uuid/dist/bin/uuid
chargeManager/node_modules/uuid/dist/esm-browser/index.js
chargeManager/node_modules/uuid/dist/esm-browser/md5.js
chargeManager/node_modules/uuid/dist/esm-browser/nil.js
chargeManager/node_modules/uuid/dist/esm-browser/parse.js
chargeManager/node_modules/uuid/dist/esm-browser/regex.js
chargeManager/node_modules/uuid/dist/esm-browser/rng.js
chargeManager/node_modules/uuid/dist/esm-browser/sha1.js
chargeManager/node_modules/uuid/dist/esm-browser/stringify.js
chargeManager/node_modules/uuid/dist/esm-browser/v1.js
chargeManager/node_modules/uuid/dist/esm-browser/v3.js
chargeManager/node_modules/uuid/dist/esm-browser/v4.js
chargeManager/node_modules/uuid/dist/esm-browser/v5.js
chargeManager/node_modules/uuid/dist/esm-browser/v35.js
chargeManager/node_modules/uuid/dist/esm-browser/validate.js
chargeManager/node_modules/uuid/dist/esm-browser/version.js
chargeManager/node_modules/uuid/dist/esm-node/index.js
chargeManager/node_modules/uuid/dist/esm-node/md5.js
chargeManager/node_modules/uuid/dist/esm-node/nil.js
chargeManager/node_modules/uuid/dist/esm-node/parse.js
chargeManager/node_modules/uuid/dist/esm-node/regex.js
chargeManager/node_modules/uuid/dist/esm-node/rng.js
chargeManager/node_modules/uuid/dist/esm-node/sha1.js
chargeManager/node_modules/uuid/dist/esm-node/stringify.js
chargeManager/node_modules/uuid/dist/esm-node/v1.js
chargeManager/node_modules/uuid/dist/esm-node/v3.js
chargeManager/node_modules/uuid/dist/esm-node/v4.js
chargeManager/node_modules/uuid/dist/esm-node/v5.js
chargeManager/node_modules/uuid/dist/esm-node/v35.js
chargeManager/node_modules/uuid/dist/esm-node/validate.js
chargeManager/node_modules/uuid/dist/esm-node/version.js
chargeManager/node_modules/uuid/dist/umd/uuid.min.js
chargeManager/node_modules/uuid/dist/umd/uuidNIL.min.js
chargeManager/node_modules/uuid/dist/umd/uuidParse.min.js
chargeManager/node_modules/uuid/dist/umd/uuidStringify.min.js
chargeManager/node_modules/uuid/dist/umd/uuidv1.min.js
chargeManager/node_modules/uuid/dist/umd/uuidv3.min.js
chargeManager/node_modules/uuid/dist/umd/uuidv4.min.js
chargeManager/node_modules/uuid/dist/umd/uuidv5.min.js
chargeManager/node_modules/uuid/dist/umd/uuidValidate.min.js
chargeManager/node_modules/uuid/dist/umd/uuidVersion.min.js
chargeManager/node_modules/webidl-conversions/LICENSE.md
chargeManager/node_modules/webidl-conversions/package.json
chargeManager/node_modules/webidl-conversions/README.md
chargeManager/node_modules/webidl-conversions/lib/index.js
chargeManager/node_modules/whatwg-url/LICENSE.txt
chargeManager/node_modules/whatwg-url/package.json
chargeManager/node_modules/whatwg-url/README.md
chargeManager/node_modules/whatwg-url/lib/public-api.js
chargeManager/node_modules/whatwg-url/lib/URL-impl.js
chargeManager/node_modules/whatwg-url/lib/url-state-machine.js
chargeManager/node_modules/whatwg-url/lib/URL.js
chargeManager/node_modules/whatwg-url/lib/utils.js
