{
    "tesla_token": {
        "token": "",
        "dateCreated": "2023-11-21T07:40:47.600Z",
        "dateUpdated": "2023-11-21T07:40:47.600Z"
    },
    "em_token": {
        "token": "",
        "dateCreated": "2023-11-21T07:40:47.600Z",
        "dateUpdated": "2023-11-21T07:40:47.600Z"
    }
}